
<script type="text/javascript">
// 	function buscar(obj) {

// 		var busqueda = obj.value;

// 		var datos = document.getElementById("recogidos");

// 		var dato = {

// 			busqueda : busqueda,
// 			tipo : "usuario"
// 		}
// 		$.ajax({
// 			data : dato,
// 			url : '/buscar',
// 			type : 'post',
// 			success : function(busquedaFiltrada) {
// 				console.log(busquedaFiltrada);
// 				datos.innerHTML = busquedaFiltrada;
// 			}

// 		});

// 	}

	$(document).ready(function() {

			$("#busqueda").keyup(function(){

			var busqueda = document.getElementById("busqueda").value;

			var datos = document.getElementById("recogidos");

			var dato = {

				busqueda : busqueda,
				tipo : "usuario"
			}
			$.ajax({
				data : dato,
				url : '/buscar',
				type : 'post',
				success : function(busquedaFiltrada) {
					console.log(busquedaFiltrada);
					datos.innerHTML = busquedaFiltrada;		
// 					$("#recogidos").animate({height: '300px', opacity: '0.4'}, "slow");

				}

			});

		});
		$("#subMenu").hide();

		$("#publicaciones").click(function() {

			$("#subMenu").fadeIn(2000);

		});
		
	});
</script>
</head>
<body>
	<div class="container-fluid">
		<div class="box my-3">
			<div class=" row justify-content-center my-3 mb-0">
				<div class="form-group  text-center d-flexbox ">
				<label class="text-white">¿Que desea buscar?</label>
					<input type="text" name="buscar" id="busqueda" class="form-control busqueda">
					<!-- 			onkeyup="buscar(this)" -->

				</div>
			</div>
			<div class=" row justify-content-center ">
			<div class="col-3">
				<div class="form-group  text-center">
					<label class="text-white" for="ciudades">Ciudad</label> <select
						class="form-control" id="ciudades" data-style="btn-primary">
						<option>Madrid</option>
						<option>Barcelona</option>
						<option>Zaragoza</option>
						<option>Segovia</option>
						<option>Avila</option>
					</select>
				</div>
			</div>
			<div class="col-3">
				<div class="form-group  text-center">
					<label class="text-white" for="exampleFormControlSelect1">Instrumento</label>
					<select class="form-control" id="exampleFormControlSelect1">
						<option>Trompeta</option>
						<option>Saxofon</option>
						<option>Bateria</option>
						<option>guitarra</option>
						<option>Piano</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<div class="col" id="menu">
		<ul class="d-flex justify-content-around text-center"
			id="opcionesExplorar">
			<li class="col-4" id="usuarios">Usuarios</li>
			<li class="col-4" id="publicaciones">Publicaciones</li>
			<li class="col-4" id="Instrumentos">Instrumentos</li>
		</ul>
	</div>
	<div class="col" id="subMenu">
		<ul class="d-flex justify-content-around " id="subOpcionesExplorar">
			<li class="" id="fotos">Fotos</li>
			<li class="" id="videos">Videos</li>
			<li class="" id="audios">Audios</li>
			<li class="" id="texto">Texto</li>
		</ul>
	</div>


	<div class="mt-5 col" id="recogidos"></div>
		
	</div>



	<!-- 	recursos css -->
	<!-- https://gradientbuttons.colorion.co/ -->
	<!-- https://onaircode.com/bootstrap-gradient-button-examples/ -->
	<!-- https://www.campusmvp.es/recursos/post/bootstrap-spinners-notificaciones-toast-e-interruptores.aspx -->