
<style>
.box {
  border-radius:22px;
  border:2px solid orange;
  background-color:transparent;
  }
#barra {
	float: right;
	top: -400px;
}

#borde-perfil {
	overflow: scroll;
	overflow-x: hidden;
	height: 480px;
}

#borde-perfil::-webkit-scrollbar {
	width: 1em;
}

#borde-perfil::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

#borde-perfil::-webkit-scrollbar-thumb {
	background-color: rgb(252, 244, 246);
	border-radius: 10px;
}
</style>

</head>
<body>
	<div class="container-fluid">
	<div class="box my-3">
		<div class=" row justify-content-center ">
			<div class="col-3">
				<div class="form-group  text-center">
					<label class="text-white" for="ciudades">Ciudad</label> <select
						class="form-control" id="ciudades">
						<option>Madrid</option>
						<option>Barcelona</option>
						<option>Zaragoza</option>
						<option>Segovia</option>
						<option>Avila</option>
					</select>
				</div>
			</div>
			<div class="col-3">
				<div class="form-group  text-center">
					<label class="text-white" for="exampleFormControlSelect1">Instrumento</label> <select
						class="form-control" id="exampleFormControlSelect1">
						<option>Trompeta</option>
						<option>Saxofon</option>
						<option>Bateria</option>
						<option>guitarra</option>
						<option>Piano</option>
					</select>
				</div>
			</div>
		</div>
		</div>
		
		
		
		<div id="centro" class=" mx-auto col-6">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="..." class="card-img" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting
								text below as a natural lead-in to additional content. This
								content is a little bit longer.</p>
							<p class="card-text">
								<small class="text-muted">Last updated 3 mins ago</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>