<script th:inline="javascript">
	function reloadChat() {
		var id = parseInt(/*[[${usuarioChat.id}]]*/"");
		// 	var chat=document.getElementsByClassName("chatbox")[0];
		var parametros = {
			"idUsuario" : id,
		}

		$(document).ready(function() {
			$("#chat").load("/cargarChat", parametros);
			console.log("ok");
			setTimeout(function() {
				$("#chat").load("/cargarChat", parametros);
			}, 100);
			setTimeout(function() {
				$('#chatbox').scrollTop($('#chatbox').prop('scrollHeight'));
			}, 150);
		});
	}

	function mandarMensaje() {

		if (document.getElementsByName("mensajeador")[0].value != "") {
			var parametros = {
				mensaje : document.getElementsByName("mensajeador")[0].value,
				idDestinatario : /*[[${usuarioChat.id}]]*/"",
			}

			// 		var divMensaje = document.createElement("div");
			// 		divMensaje.className = "mensaje float-right";
			// 		divMensaje.innerHTML = document.getElementsByName("mensajeador")[0].value;
			// 		document.getElementsByName("mensajeador")[0].value = "";
			// 		var divRowMensaje = document.createElement("div");
			// 		divRowMensaje.className = "row";
			// 		divRowMensaje.appendChild(divMensaje);
			// 		document.getElementsByClassName("mensaje")[document.getElementsByClassName("mensaje").length-1].parentElement.after(divRowMensaje);

			$(document).ready(function() {
				$.ajax({
					data : parametros,
					url : '/mandarMensaje',
					type : 'post',
				});
			});
			setTimeout(function() {
				$('#chatbox').scrollTop($('#chatbox').prop('scrollHeight'));
			}, 10);
			reloadChat();

		} else {
			console.log("error");
		}
	}
	
</script>
	<div class="col chatbox mb-3 d-flexbox" id="chatbox">
		<div th:each="mensaje: ${mensajes}" th:attr="data-id=${mensaje.id}"
			class="row">
			<div th:if="${mensaje.remitente.id} == ${usuarioChat.id}"
				class="col  d-flex justify-content-start ">
				<p id="remitente" class="text-left" th:text="${mensaje.texto}"></p>
			</div>
			<div th:unless="${mensaje.remitente.id} == ${usuarioChat.id}"
				class="col d-flex justify-content-end">
				<p id="destinatario" class="text-right  " th:text="${mensaje.texto}"></p>
			</div>
		</div>
	</div>
	<div class="col d-flex justify-content-end p-0 bg-info">
		<input class="form-control" type="text" name="mensajeador"
			placeholder="Escribe aqui tu mensaje...">
		<button class="btn btn-info" onclick="mandarMensaje()">
			<i class="bi bi-arrow-left-circle"></i>
		</button>
	</div>
