
<div id="centro" class=" justify-content-center align-items-center">



	<!-- 			cargar publicaciones -->
	<div th:each="publicacion: ${publicaciones}">
		<div id="perfiles">
			<div id="borde-perfil"
				class="d-flex justify-content-center align-items-center">

				<div class="card  d-flex justify-content-center align-items-center">


					<!-- 				img solo desde static -->
					<div th:if="${publicacion.tipoContenido}=='imagen'">
						<img class="card-img" th:src="@{${publicacion.contenido}}">
					</div>

					<!-- 		Para video -->
					<div th:if="${publicacion.tipoContenido}=='video'"
						class="card-film">
						<video width="500px" height="300px" controls>
							<source th:src="@{${publicacion.contenido}}" type="video/mp4" />
						</video>
					</div>



					<div th:if="${publicacion.tipoContenido}=='audio'"
						class="card-audio">
						<audio th:src="@{${publicacion.contenido}}" controls type="audio/mpeg">
						</audio>
					</div>


					<div class="col-md-12">
						<div class="card-body">
							<div class="card-tittle">
								<b th:text="${publicacion.duenioPublicacion.loginName}">Nombre</b>
							</div>
							<div class="card-text">
								<p id="text" th:text="${publicacion.descripcion}"></p>
								<p class="text-muted text-right" id="fecha"
									th:text="${publicacion.fechaPublicacion}"></p>
							</div>
							<div class="card-footer text-right">
								Wave
								<button class=" btn btn-outline-info">Comentar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</div>
</div>
