<script th:inline="javascript">
	window.onload = function() {
		var mensajeDirecto = /*[[${mensajeDirecto}]]*/"";
		if (mensajeDirecto == true) {
			var parametros = {
					"idUsuario" : /*[[${idPerfil}]]*/"",
			}
			$(document).ready(function() {
				$("#chat").load("/cargarChat", parametros);
			});
		}
	};

	function cargarChat(obj) {
		var id = parseInt(obj.dataset.id);
		
		var parametros = {
				"idUsuario" : id,
			}

		$(document).ready(function() {
			$("#chat").load("/cargarChat", parametros);
		});
	}
</script>
<div class="container my-auto" id="menuChat">
	<div class="row my-5">
		<div class="col-3 text-left">
			<h3 class="text-center" id="tituloChat">Conversaciones</h3>
			<ul class="list-group">
				<li th:each="usuario: ${usuariosConChatAbierto}" class="list-group-item opcion-chat" th:attr="data-id=${usuario.id}" onclick="cargarChat(this)">
					<img th:src="${usuario.fotoPerfil}" height="40px" width="40px">
					<span th:text="${usuario.loginName}"></span>
				</li>
			</ul>

		</div>
		<div id="chat" class="col-9"></div>
	</div>
</div>