<div class="bg-light">

	<img class="img-fluid" src="#">Si la foto no existe poner una por
	defecto

	<section>

		<h3 class="lead">Nombre:</h3>
		<p class="display-1" th:text="${usuario.loginName}"></p>
		
		<div class="numeroPublicaciones">
		<p  class="bg-info">numeroPublicaciones</p>
		<p  class="bg-info">[Num]Seguidores</p>
		<p  class="bg-info">[Num]Seguidos</p> 
		</div>
		<a href="publicacion">Crear publicacion</a>
		<div class="descripcion">
		<p class="lead">CargarDescripcion pasar datos</p>
		</div>


	</section>

	<section>

		<span th:if="${publicaciones != null}">
			<div th:each="publicaciones : ${publicacion}">

				<div class="card" style="width: 18rem;">
					<img src="nombreImagen" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">
						<p th:text="${publicacion.fecha_publicacion}"></p>
						<p th:text="${publicacion.descripcion}"></p>
						</p>
					</div>
				</div>
			</div> <span th:unles="${publicaciones != null}">
				<h3 class="h3">Aún no tienes publicaciones disponibles,¿A
					qué estás esperando?</h3>
		</span>
	</section>

</div>