<script th:inline="javascript">
	function seguir(boton) {

		var username = /*[[${usuario.loginName}]]*/"";

		if (boton.classList.contains("btn-outline-danger")) {
			boton.classList.remove("btn-outline-danger");
			boton.classList.add("btn-danger");
			boton.innerText = "Dejar de seguir";
			document.getElementById("seguidores").innerText = parseInt(document
					.getElementById("seguidores").innerText) + 1;

			$(document).ready(function() {
				$.ajax({
					url : '/user/' + username + '/seguir',
					type : 'post',
				});
			});

		} else {
			boton.classList.remove("btn-danger");
			boton.classList.add("btn-outline-danger");
			boton.innerText = "Seguir";
			document.getElementById("seguidores").innerText = parseInt(document
					.getElementById("seguidores").innerText) - 1;

			$(document).ready(function() {
				$.ajax({
					url : '/user/' + username + '/dejarDeSeguir',
					type : 'post',

				});
			});

		}
	}

	$(document).ready(function() {

		$(".text").on("click", function() {

			var username = /*[[${usuario.loginName}]]*/"";

			var datos = document.getElementById("datos");

			var parametros = {

				tipo : "texto",
				nombre : username,
			}

			$.ajax({
				data : parametros,
				url : '/tipoArchivo',
				type : 'post',
				success : function(publicaciones) {
					console.log(publicaciones);
					datos.innerHTML = publicaciones;
				}

			});
		});

		$(".image").on("click", function() {

			var username = /*[[${usuario.loginName}]]*/"";

			var datos = document.getElementById("datos");

			var parametros = {

				tipo : "img",
				nombre : username,
			}

			$.ajax({
				data : parametros,
				url : '/tipoArchivo',
				type : 'post',
				success : function(publicaciones) {
					datos.innerHTML = publicaciones;
				}

			});
		});

		$(".music").on("click", function() {

			var username = /*[[${usuario.loginName}]]*/"";

			var datos = document.getElementById("datos");

			var parametros = {

				tipo : "audio",
				nombre : username,
			}

			$.ajax({
				data : parametros,
				url : '/tipoArchivo',
				type : 'post',
				success : function(publicaciones) {
					datos.innerHTML = publicaciones;
				}
			});
		});
		$(".video").on("click", function() {

			var username = /*[[${usuario.loginName}]]*/"";

			var datos = document.getElementById("datos");

			var parametros = {

				tipo : "video",
				nombre : username,
			}

			$.ajax({
				data : parametros,
				url : '/tipoArchivo',
				type : 'post',
				success : function(publicaciones) {
					datos.innerHTML = publicaciones;
				}

			});
		});

		$(function() {

			var datos = document.getElementById("datos");

			var username = /*[[${usuario.loginName}]]*/"";

			var parametros = {

				tipo : "img",
				nombre : username,
			}

			$.ajax({
				data : parametros,
				url : '/tipoArchivo',
				type : 'post',
				success : function(publicaciones) {
					datos.innerHTML = publicaciones;
				}

			});

		});

	});
</script>
<div class="col">
	<div class="caja">
		<div class="cabecera">
			<div class="row d-flex justify-content-around">
				<div class="foto my-5">
					<img class="fotoPerfil" th:src="@{${usuario.fotoPerfil}}">
				</div>
				<div class="nombre">
					<div class="row d-flex justify-content-around">
						<div class="col">
							<h2 class="name" th:text="${usuario.loginName}"></h2>
						</div>
						<div class="follow my-2 ml-auto">
							<span class="seguimiento mx-auto"><b>Seguidores [<span
									id="seguidores" th:text="${seguidores}"></span>]
							</b></span> <span class="seguimiento mx-auto"><b>Seguidos [<span
									id="seguidos" th:text="${seguidos}"></span>]
							</b></span>
						</div>
					</div>
					<div class="w-100 h-auto  p-3 ">
						<p class="text-break" th:text="${usuario.descripcionPerfil}"></p>
					</div>
					<h4>Instrumentos</h4>
					<div class=" my-auto w-auto p-3">
						<label th:each="instrumento: ${usuario.instrumentos}"
							th:text="${instrumento.nombre}" class="instrumentoLabel"></label>

					</div>
					<div
						th:if="${propietario == null && session.userLogged != null}"
						class="d-flex justify-content-between my-4">
						<div class="col contacto" th:if="${seguido} != null">
							<button type="button" class="ml-auto  btn-block btn btn-danger"
								onclick="seguir(this)">Dejar de seguir</button>
						</div>
						<div class="col contacto" th:unless="${seguido} != null">
							<button type="button"
								class="ml-auto  btn-block btn btn-outline-danger"
								onclick="seguir(this)">Seguir</button>
						</div>
						<div class="col contacto">
							<form
								th:action="@{/user/{userLogged}/messages(userLogged=${session.userLogged.loginName})}">
								<input type="hidden" name="idPerfil" th:value="${usuario.id}">
								<button type="submit"
									class="ml-auto btn-block btn btn-outline-danger">Mensaje</button>
							</form>
						</div>
					</div>

					<div class="d-flex justify-content-between my-4"
						th:if="${propietario != null && session.userLogged != null}">
						<form
							th:action="@{/user/{userLogged}/opciones(userLogged=${session.userLogged.loginName})}"
							method="get">
							<button type="submit" class="ml-auto btn-block btn btn-danger">Editar
								perfil</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-center ">
			<div class="p-3 mr-4 text ">
				<i class="bi bi-file-text-fill"></i>
			</div>
			<div class="p-3 mr-4 image">
				<i class="bi bi-image-fill"></i>
			</div>
			<div class="p-3 mr-4 music">
				<i class="bi bi-file-music-fill"></i>
			</div>
			<div class="p-3 video">
				<i class="bi bi-camera-video-fill"></i>
			</div>
		</div>
		<div class="cuerpo " onload="carga()">
			<div class="row d-flex justify-content-around" id="datos"></div>
		</div>
	</div>
</div>
