<div class="col">
	<div class="caja">
		<div class="cabecera">
			<div class="row">
				<div class="col-3">
					<img class="fotoPerfil" src="2.png">
				</div>
				<div class="col-9">
					<h2 th:text="${usuario.loginName}"></h2>
					<p th:text="${usuario.descripcionPerfil}"></p>
					<h4>Instrumentos</h4>
					<p th:each="instrumento: ${usuario.instrumentos}">
						<span th:text="${instrumento.nombre}"></span>
					</p>
					<div th:if="${propietario == null}">
						<button class="btn btn-outline-danger">Seguir</button>
					</div>
					<div th:unless="${propietario == true}">
						<button class="btn btn-outline-danger">Editar perfil</button>
					</div>
					<span class="seguimiento"><b>Seguidores [<span
							th:text="${seguidores}"></span>]
					</b></span> <span class="seguimiento"><b>Seguidos [<span
							th:text="${seguidos}"></span>]
					</b></span>
				</div>
			</div>
		</div>
		<div class="cuerpo">
			<div class="row">
				<div class="col-lg text-center publicacion">
					<img class="" src="2.png" role="button">
				</div>
				<div class="col-lg text-center publicacion">
					<img class="" src="2.png" role="button">
				</div>
				<div class="col-lg text-center publicacion">
					<img class="" src="2.png" role="button">
				</div>
			</div>
			<div class="row">
				<div class="col-lg text-center publicacion">
					<img class="" src="2.png" role="button">
				</div>
				<div class="col-lg text-center publicacion">
					<img class="" src="2.png" role="button">
				</div>
				<div class="col-lg text-center publicacion">
					<img class="" src="2.png" role="button">
				</div>
			</div>
		</div>
	</div>
</div>
