<div class="container-fluid mt-5">
	<table class="table table-striped" style="background-color: white">
	  <thead>
	  	<tr>
	      <th scope="col">ID</th>
	      <th scope="col">Fecha y hora</th>
	      <th scope="col">Denunciante</th>
	      <th scope="col">Mensaje</th>
	      <th scope="col">Publicación</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="reporte: ${reportes}">
	      <th scope="row" th:text="${reporte.id}"></th>
	      <td th:text="|${reporte.fechaReporte.toLocalDate} - ${reporte.fechaReporte.toLocalTime}|"></td>
	      <td><a th:href="@{/user/{loginName}(loginName=${reporte.denunciante.loginName})}" th:text="${reporte.denunciante.loginName}"></a></td>
	      <td th:text="${reporte.motivo}"></td>
	      <td><a th:href="@{/publicacion/{id}(id=${reporte.publicacionReportada.id})}" th:text="${reporte.publicacionReportada.id}"></a></td>
	    </tr>
	  </tbody>
	</table>
</div>