<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="shortcut icon" href="/img/logotipo.png">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/feed.css">
    <link rel="stylesheet" href="/css/publicar.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/perfilUsuario.css">

 <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/principal.css">
    
    <script type="text/javascript" src="/js/registro.js"></script>
    <script type="application/javascript" src="/jquery/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/jquery/popper.min.js"></script>
	<title>WaveIt!</title>
</head>
