<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<!--     <link rel="stylesheet" href="/css/menuDerecho.css"> -->
<!--     <link rel="stylesheet" href="/css/menuIzquierda.css"> -->
<!--     <link rel="stylesheet" href="/css/buscar.css"> -->
    <link rel="stylesheet" href="/css/publicar.css">
 
    <script src="/js/menuDerecho.js"></script>
    <script type="application/javascript" src="/jquery/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/jquery/popper.min.js"></script>
	<title>WaveIt!</title>
</head>
<body>