 <nav class="navbar navbar-expand-sm menu">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Wave it!</a>
          </div>
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-house-door"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-chat-dots"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-person-circle"></i></li>
          </ul>
        </div>
      </nav>