
    <div class="fondo">
        <nav class="navbar  navbar-light bg-transparent" id="derecho">
            <button id="boton" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
 
        <div class="container" id="aparecer">
            <div class="row">
                <div class="col-md-2 menu">
                    <div class="row row-cabecera">
                        <div class="col col-cabecera">
                            <nav class="navbar  navbar-light bg-transparent" id="barra">
                                <button id="opcion" class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </nav>

                            <a href="#" class="link-titulo"><img src="logotipo.png" class="imagen-titulo" width="60px"
                                    height="60px" alt=""><span>User</span></a>
                        </div>
                    </div>
                    <div class="grupo-link-menu">
                        <a href="#" class="link-menu">Perfil</a>
                        <a href="#" class="link-menu">Configuracion</a>
                        <a href="#" class="link-menu">About us</a>
                        <a href="#" class="link-menu">Salir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>