

    <div class="container-fluid fondo">
        <div class="row">
            <div class="col-md-2 menu">
                <div class="row row-cabecera">
                    <div class="col col-cabecera">
                        <a href="#" class="link-titulo"><img src="logotipo.png" class="imagen-titulo" width="80px"
                                height="80px" alt="">WAVE IT!</a>
                    </div>
                </div>
                <div class="grupo-link-menu">
                    <a href="#" class="link-menu">Home</a>
                    <a href="#" class="link-menu">Buscar</a>
                    <a href="#" class="link-menu">About us</a>
                    <a href="#" class="link-menu">Contacto</a>
                </div>
            </div>
        </div>
    </div>