body{
    background-color: #f90d4e;
    background-attachment: fixed;
}
#perfiles{
    width: 40rem;
    height: 40rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background-color:rgb(247, 248, 248);
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
    height: auto;

}

#perfiles:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;
  }


.card-feed{
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: inherit;
    border:none;
    width: 40vw;
    height: auto;
}
.feed-img{

    width: auto;
    height: 300px;
    margin-top: 10px;
}
.feed-audio{
    margin-top:25%;
    margin-bottom: 20%;
   
}
.feed-film{

    margin-top: 0.4em;
}
.feed-body{
  
    box-shadow:black;
    padding: 0px;
    
}
.feed-tittle{
   
    font-size: 22px;
    border-radius: 22px;
   padding: 10px;
   
}
.feed-text{
   padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    height: 200px;
   background-color: rgba(226, 231, 231, 0.349);
   overflow: hidden;
}
.comentarios{
	border-top: 2px solid #ffa000;
	margin-top:5px;
}
.foto-perfil{
	width:100px;
	 height:50px;
	 border-radius: 50%;
}

/*Cargar comentarios*/
.cargaComentarios{
	
	height: 190px;
	overflow-y: auto;
	
}

.userComent{
	font-weight: bold;
	float: left;
}

.fotoComent{
	width:27px;
	height:27px;
	border-radius: 50%;
}