
       
        .label{
            
            font-weight: bold;
            margin: 2px;
        }
        .grupo{
            
            margin-top: 20px;
        }
        
        .registro{
            
            padding-top: 10px;
          
        } 
/*         a,a:hover{ */
/*             text-decoration: none; */
       
/*             font-weight: bold; */
/*             margin-left: 34px; */
/*         } */
        .info{
            font-weight: bold;
            margin-left: -74px;
        }