/* .opcion-chat:hover { */
/* 	background-color: #c9c9c9; */
/* } */
/* .mensaje { */
/* 	margin: 0.2em; */
/* 	padding: 0.5em; */
/* 	border: 1px solid grey; */
/* 	border-radius: 10px; */
/* } */
 #tituloChat { 
 	padding: 5px; 
 	background-color: white; 
 	border-radius: 10px; 
 	border-bottom:orange 1px solid;
 }
#menuChat{
	border-radius:22px;
	height:500px;
}
#conversaciones{
/* 	border:1px solid gray; */
	height:400px;
}
#remitente{
	border-radius:22px;
	background-color:rgba(186, 186, 183, 1);
	color:white;
	padding:3px 10px 3px 10px;
}
#destinatario{
	border-radius:22px;
	color:white;
	background-color:rgba(255, 27, 90);
	padding:3px 10px 3px 10px;
}
.chatbox {
	overflow-y: scroll;
	height:360px;
}
.chatbox::-webkit-scrollbar {
    -webkit-appearance: none;
}

.chatbox::-webkit-scrollbar:vertical {
    width:10px;
}

.chatbox::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.chatbox::-webkit-scrollbar:horizontal {
    height: 10px;
}

.chatbox::-webkit-scrollbar-thumb {
    background-color: rgba(97, 97, 94, 0.40);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.chatbox::-webkit-scrollbar-track {
    border-radius: 10px;  
}