
        .fondo {
            background-color: #f90d4e;
            height: 100vh;
            width: 100vw;
        }

        .menu {
            position: fixed;
            right:0;
            background-color: rgb(231, 231, 231);
            height: 100vh;
            box-shadow: -20px 0px #97153a93;
        }

        .row-cabecera {
            background-color: #272636;
            height: 15vh;
            box-shadow: 0px 15px #17161f;
            
        }

        .col-cabecera {
            padding: 30px;
        }

        .link-titulo {
            font-size: 20px;
            color: white;
            text-decoration: none;
            
        }

        .link-titulo:hover {
            color: white;
            font-size: 22px;
            text-decoration: none;
        }

        span{
            margin-left: 60px;
        }
        .imagen-titulo {
            transition: transform 1s;
        }

        .imagen-titulo:hover {
            transform: rotate(360deg);
        }
     
        .link-menu {
            padding: 10px;
            margin-top: 50px;
            display: flex;
            font-weight: bold;
            font-size: 25px;
            color: #272636;
            text-decoration: none;
            transition: padding-left 0.5s, font-size 0.5s, border-bottom, color 0.5s;
        }


        .link-menu:hover {
            font-weight: bold;
            font-size: 25px;
            color: #f90d4e;
            text-decoration: none;
            padding-left: 50px;
            font-size: 30px;
            border-bottom: 1px solid #f90d4e;
            color: #f90d4e;
        }