nav * {
	color: white;
	font-size: 1.1em;
	
}
#logotipo-nav {
	width: 2em;
	height: 2em;
}
.btn:focus{
	box-shadow: none;
	outline:none;
}

.logOut{
	color:white;
	font-size:20px;
}

.bi-inbox-fill{
	font-size: 1.35em;
}
@media ( max-width : 375px) {
	
.title{
	display:none;
}
#logOut{
	
	width:50px;
	height:50px;
	
}
	.logOut{
	 font-size:15px;
	}
}