.opcionesPerfil {
	list-style: none;
	padding: 0;
	margin: 0;
}

.opcion {
	color: #FFFFFF;
	background-color: #272636;
}

.opcion:hover {
	color: #FFFFFF;
	background-color: #272636;
	border-left: white 4px solid;
}

#opciones {
	/*             overflow: scroll; */
	/*             overflow-x: hidden; */
	height: auto;
	background-color: white;
}

/*         #opciones::-webkit-scrollbar { */
/*             width: 1em; */
/*         } */

/*         #opciones::-webkit-scrollbar-track { */
/*             -webkit-box-shadow: inset 0 0 6px rgba(187,187,187,0.6); */
/*             border-radius: 10px; */
/*         } */

/*         #opciones::-webkit-scrollbar-thumb { */
/*             background-color: rgba(221,221,221,0.6); */
/*             border-radius: 10px; */
/*         } */
.form-control {
	border: none;
}
#descripcion{
/* 	width:100%; */
}
.contador {
	color: grey;
	position: relative;
	top: -32px;
	left: -4%;
}
.instrumentoLabel {
	margin: 0.5em;
	padding: 0.3em;
	border: #f90d4e 0.1em solid;
	border-radius: 0.3em;
}
.instrumentoLabel:hover {
	background-color: #f90d4e;
	color: white;
}
.personas{
	border:2px solid black;
	border-radius:22px;
}
.titulo{
	border-bottom:1px solid orange;
}
.seguidos{
	list-style:none;
	border:none;
	
}
.passPerfil{
   padding-bottom: 1px;
   position: relative;
   top:-25px;
 
}
@media (max-width: 375px) {
	#opt{
	width:100%;
	overflow-x:scroll;
	margin-bottom:10px;
	}
	.opcion:hover {
	color: #FFFFFF;
	background-color: #272636;
	border-top: white 4px solid;
	border-left:none;
}
	#opciones{
	height:300px;
		overflow-y:scroll;
	}
	.opcionesPerfil{
	flex-direction:row;
	}
}
