
.opcionesPerfil { 

            list-style: none;
            padding: 0;
            margin: 0;
        }
        
     .opcion {
       

            color: #FFFFFF;
            padding: 10px;
            background-color: #272636;
        }

        .opcion:hover {
            font-size: 19px;
            background-color: rgba(252, 252, 252, 1); 
         
        }

        #opciones {
            overflow: scroll;
            overflow-x: hidden;
            height: 350px;
            background-color:white;

           
        }

        #opciones::-webkit-scrollbar {
            width: 1em;
        }

        #opciones::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(187,187,187,0.6);
            border-radius: 10px;
        }

        #opciones::-webkit-scrollbar-thumb {
            background-color: rgba(221,221,221,0.6);
            border-radius: 10px;
        }
        .form-control{
       	 border:none;
        }

        .contador{
            color:grey;
            position:relative;
            bottom:32px;
            right:-355px;

        }