.caja {
	background-color: white;
	border-radius: 50px;
	padding: 40px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.486);
	margin-top: 1em;
	margin-bottom: 1em;
}

.cabecera {
	padding: 30px;
	margin: 50px;
}

.fotoPerfil {
	border-radius:50%;
	width: 200px;
	height: 200px;
}

.seguimiento {
	margin-left: 1em;
	padding: 0.5em;
}

.cuerpo {
	background-color: gainsboro;
	margin: 10px;
	border-radius: 20px;
	padding: 30px;
	width: 100%;
}

.contacto {
	padding: 4px;
}
.bi-file-text-fill,.bi-image-fill,.bi-file-music-fill,.bi-camera-video-fill{
	font-size:300%;
}
.bi-file-text-fill:hover,.bi-image-fill:hover,.bi-file-music-fill:hover,.bi-camera-video-fill:hover{
	color:#f90d4e;
}

.publicacion {
	margin-bottom: 20px;
	padding:10px;
  	box-shadow: 10px 5px 5px rgba(13, 13, 12, 0.36);
	overflow-y:auto;
}


.publicacion::-webkit-scrollbar {
    -webkit-appearance: none;
}

.publicacion::-webkit-scrollbar:vertical {
    width:10px;
}

.publicacion::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.publicacion::-webkit-scrollbar:horizontal {
    height: 10px;
}

.publicacion::-webkit-scrollbar-thumb {
    background-color: rgba(97, 97, 94, 0.40);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.publicacion::-webkit-scrollbar-track {
    border-radius: 10px;  
}


.publicacion-text,.publicacion-img,.publicacion-video{
		
	width:300px;
	height:300px;
}
.text,.image,.music,.video{
	border-radius:22px 22px 0px 0px;
	background-color:gainsboro;

}
.cuerpo{
	margin-top:0;
}