:root {
    --color: rgba(252, 249, 250, 0.863);
  }

body {
font-size: 16px;
font-family: 'Montserrat', sans-sherif;
margin: 0;
padding: 0;
}
.navegador{

z-index: 1;
}
.btn-hover{
	width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	
}
.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-hover:focus {
    outline: none;
}

.btn-red{
	       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
	       box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.btn-black {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 2px 10px 0 rgba(45, 54, 65, 0.75);
}
.buscar{
  position:relative;
  z-index: 1;
  margin: auto;
  animation: logo 15s;
}

.content {
max-width: 600px;
margin: 0 auto;
padding: 0 20px;
margin-top: -100px;
} 

.hero {
position: relative;
background: transparent;
color: rgb(255, 255, 255);
height: 100vh;
display: flex;
align-items: center;
overflow: hidden;
width: 100%;
}

.hero h1 {
z-index: 1;
position:relative;
font-size: 9vw;
color: rgba(247, 245, 245, 0.9);
animation: logo 7s ;
text-shadow:  9px 5px 14px #272636 ;
}


.imagen{

z-index: 1;
 position:relative; 
width:15%;
height:15%;
/* top: 100px; */
/* left:-100px; */
 animation: logoP 6s ; 

}

/* .hero p {
position: relative;
z-index: 1;
font-size: 30px;
color: rgba(255, 255, 255, 0.5);
line-height: 1.4;
text-align: justify;
} */

/* ========================= */

.waves {
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 300px;
background-color: var(--color);
/* box-shadow: inset 0 0 50px rgba(240, 8, 70, 0.945); */
transition: 500ms;
}

.waves::before,
.waves::after {
content: '';
position: absolute;
width: 300vw;
height: 300vw;
top: -77vw;
left: 50%;
transform: translate(-30%, -75%);
}

/* ola trasera */
.waves::before { 
border-radius: 44%;
background:   #272636;

animation: waves 15s linear infinite;
/* 8 */

}

.waves::after {
border-radius: 44%;
background: #f90d4e;
animation: waves 18s linear infinite;
/* animation-delay: 2s; */
/* 15 */
}

@keyframes waves {
0% {
  transform: translate(-50%, -75%) rotate(0deg);

}
 
100% {

  margin-top:400px;
  transform: translate(-50%, -75%) rotate(360deg);
}
}


@keyframes logo {
0% {
 opacity:0;
}
 
100% {
  opacity:1;
}
}

@keyframes logoP {
0% {
 opacity:0;
}
 
100% {
  opacity:1;
  transform: rotate(360deg);
}
}
