
        #form{
            top:100px;
            height: 330px;
            box-shadow: 0px 0px 6px 6px rgb(173, 24, 69);
            /* border-radius: 44px; */
            background-color: white;
        }
       
        label{
            
            font-weight: bold;
            margin: 2px;
        }
        .form-group{
            
            margin-top: 20px;
        }
        
        .registro{
            
            padding-top: 10px;
          
        } 
        a,a:hover{
            text-decoration: none;
       
            font-weight: bold;
            margin-left: 34px;
        }
        span{
            font-weight: bold;
            margin-left: -74px;
        }