  body {
        background-color: #f90d4e;
        background-attachment: fixed;
      }
      #contenedor {
        width: 60rem;
        height: 34rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        position: relative;
        z-index: 1;
        background: inherit;
        overflow: hidden;
      }
      #contenedor:before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
        filter: blur(10px);
        margin: -20px;
      }
      textarea {
        resize: none;
      }
      .elements {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
      }
      .textarea {
        width: 80%;
        margin: 0;
        padding: 0;
      }
      .file {
        margin-top: 10%;
        width: 50%;
        padding-left: 22px;
    
      }
      .btn {
        margin-left: 75px;
      }