/* form{ */
/*     height: 600px; */
/*     box-shadow: 0px 0px 6px 6px rgb(173, 24, 69); */
/*     border-radius: 44px; */
/*     background-color: white; */
/* } */
input,input:active{
    /* margin-left:80px; */
    /* margin-top:15px;
    width: 20px; */
    
    
    border:none;
    border-bottom: 1px solid #ffa000;
    box-shadow: 0 1px 0 0 #ffa000;

}.inputs{
    border:0;
}
/* https://qastack.mx/programming/14820952/change-bootstrap-input-focus-blue-glow       //para quitar el borde en bootstrap*/
/* https://ajgallego.gitbook.io/bootstrap-4/componentes-responsive/formularios    //para poner las validaciones o no  */
.form-control:focus{
   
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;

    }
 
#aceptar{
    /* margin-left:160px; */
    /* margin-top: -10px; */
/*     margin-top: 20px; */

}
.labels{
    /* margin-left:100px; */
    font-weight: bold;
    margin-top: 15px;
    
    
}
.iconos{
	margin-left:auto;
}

#ver{

   padding-bottom: 1px;
   position: relative;
   top:-25px;


}

.grupos{
    height: 72px;
   
}
.bi-eye-fill{
   color:gray;
    
   font-size: 1em;
      
}



.barra{

   height: 3px;
   margin-top: 8px;
   
}
