<div>
    <label for="publica">Perfil Publico:</label><br>
    <p>El perfil publico, podrá ser visto por todos los usuarios.
        Seran visibles:
            -Publicaciones.
            -Seguidores.
            -Personas a las que sigues

    </p>
    <button>Publico</button>
    <br>
    <label for="publica">Perfil Privado:</label><br>
    <p>El perfil privado, podrá ser visto solo por tus seguidores.
    </p>
    <button disabled>Privado</button>
</div>


<div>

    <h3>¿Seguro que deseas desactivar la cuenta?</h3>
    <p>Si desactivas la cuenta, no sera visible para otros
        usuarios.Tendras un plazo de <b>un mes</b> para poder
        activarla, de lo contrario <b>se eliminara</b>
    </p>
    <button>Desactivar cuenta</button>

</div>

<div>

    <h3>¿Seguro que deseas <b>eliminar</b> la cuenta?</h3>
    <p>Si eliminas la cuenta, <b>la perderás permanentemente</b>
        y <b>no</b> podrás recuperarla.
    </p>
    <button>Eliminar cuenta</button>

</div>