<script>
	function agregarInstrumento(button) {
		var select = button.previousSibling.previousSibling;
		var optionSeleccionada = select.options[select.selectedIndex].value;
		select.remove(select.selectedIndex);

		var nuevoInstrumentoAgregado = document.createElement("input");
		nuevoInstrumentoAgregado.type = "checkbox";
		nuevoInstrumentoAgregado.checked = true;
		nuevoInstrumentoAgregado.name = "instrumentos";
		nuevoInstrumentoAgregado.id = optionSeleccionada;
		nuevoInstrumentoAgregado.value = optionSeleccionada;
		nuevoInstrumentoAgregado.hidden = "hidden";

		var label = document.createElement("label");
		label.htmlFor = optionSeleccionada;
		label.className = "instrumentoLabel";
		label.innerHTML = optionSeleccionada;
		label.onclick = function() {
			label.remove();
			nuevoInstrumentoAgregado.remove();
			var optionReset = document.createElement("option");
			optionReset.value = optionSeleccionada;
			optionReset.text = optionSeleccionada;
			select.insertBefore(optionReset, select.options[0]);
		};

		document.getElementById("divInstrumentos").append(
				nuevoInstrumentoAgregado);
		document.getElementById(optionSeleccionada).after(label);
	}
</script>
<div class="container d-flex justify-content-center">
	<div class="row d-flex justify-content-center">
		<div class="col-8 form">
			<div class="pt-3">
				<h2>Editar Perfil</h2>
			</div>
			<form method="post" action="/editarPerfil"
				enctype="multipart/form-data">

				<div class="form-group p-2">
					<label for="file">Foto de perfil</label> <input type="file"
						class="form-control" id="file" name="file">

				</div>

				<div class="form-group p-2">
					<label for="ciudad">Ciudad</label>
					 <select class="form-control select" id="ciudades" name="idCiudad" data-style="btn-primary">
						<option class="options" th:each="ciudad : ${ciudades}"  th:text="${ciudad.CiudadName}" th:value="${ciudad.id}"></option>
					</select>
				</div>


				<div class="form-group p-2">
					<label for="descripcion">Descripci&oacute;n:</label>
					<textarea class="form-control" id="descripcion" maxlength="150" style="resize: none"
						onkeyup="validarLimite(this)"
						placeholder="Descripci&oacute;n de tu perfil de usuario..." cols="50"
						rows="5" name="descripcion"></textarea>
					<div class="row  p-1 d-flex justify-content-end">
						<span class=" contador ">0/150</span>
					</div>
				</div>


				<div class="form-group p-2  d-flexbox">
					<label for="listaInstrumentos">Lista de Instrumentos:</label>
					<div class="d-inline-flex">
					 <select class="form-control"id="instrumentos">
						<option class="options" th:each="instrumento : 	${instrumentos}"
							th:value="${instrumento.nombre}" th:text="${instrumento.nombre}">
					</select>
					<button type="button" class="btn btn-outline-danger ml-4"
						id="botonAgregarInstrumento" onclick="agregarInstrumento(this)"
						>+</button>
						</div>
					<div class="d-flexbox" id="divInstrumentos" style="height: auto;width: 25em;"></div>
				</div>

				<div class="form-group p-2 text-center">
					<input type="submit" class="btn btn-dark" value="Guardar">
				</div>
			</form>
		</div>
	</div>
</div>