<div>
<form method="post" action="">
    <label for="notPu">Usuario seguido ha hecho una publicación.
    </label>
    <input id ="notPu" class="form-check " type="checkbox" checked data-toggle="toggle" data-style="ios"><br/>
    <label for="notWave">Usuario ha dado Wave.
    </label>
    <input id="notWave" class="toggle.ios"type="checkbox" checked data-toggle="toggle" data-style="ios"><br/>
    <label for="notFav">Usuario ha guardado una publicación.
    </label>
    <input id="notFav" class="toggle.ios"type="checkbox" checked data-toggle="toggle" data-style="ios"><br/>
    <label for="notSeguido">Usuario te ha seguido.
    </label>
    <input id="notSeguido" class="toggle.ios"type="checkbox" checked data-toggle="toggle" data-style="ios"><br/>
    </form>
<!--Revisar classs para que sea como ios(  0) royo on off-->
</div>