<div class="container">
<div class="row">
	<div class="col-6">
		<ul class="seguidos mt-5">
			<h4 class="text-center mb-5 titulo">Seguidos</h4>
			<li class="col d-inline-flex justify-content-around personas" th:each="seguido: ${seguidos}" th:id="${seguido.id}"><a class=" my-auto pr-5"
				th:href="@{/user/{loginName}(loginName=${seguido.loginName})}"
				th:text="${seguido.loginName}"></a>
				<form action="/eliminarSeguido" method="POST">
					<input type="hidden" th:value="${seguido.id}" name="idSeguido">
					<button type="submit" class="btn btn-danger btn-xs"><small>x</small></button>
				</form>
				</li>
		</ul>
	</div>
	<div class="col-6">
	<ul class="seguidores mt-5">
		<h4 class="text-center mb-5 titulo">Seguidores</h4>
		<li class="col d-inline-flex justify-content-around border align-items-center personas p-2" th:each="seguidor: ${seguidores}" th:id="${seguidor.id}">
		<img class="foto-post col-2" th:src="@{${seguidor.fotoPerfil}}">
		<a class=" my-auto pr-5" th:href="@{/user/{loginName}(loginName=${seguidor.loginName})}" th:text="${seguidor.loginName}"></a>
			<form action="/eliminarSeguidor" method="POST">
					<input type="hidden" th:value="${seguidor.id}" name="idSeguidor">
					<button type="submit" class="btn btn-danger btn-xs"><small>Eliminar</small></button>
				</form>
				</li>
	</ul>
</div>
</div>
</div>