    <div class="container my-auto" id="menu">
        <div class="row my-5 ">

            <div class="col-3 text-center" id="opt">
                <ul class="list-group-flush opcionesPerfil">
                    <li class="list-group-item-action opcion p-3" id="perfil">Editar Perfil</li>
                    <li class="list-group-item-action opcion p-3" id="pass">Contraseña</li>
                    <li class="list-group-item-action opcion p-3" id="correo">Correo</li>
                    <li class="list-group-item-action opcion p-3" id="cuenta">Cuenta</li>
                    <li class="list-group-item-action opcion p-3" id="notificaciones">Notificaciones</li>
                    <li class="list-group-item-action opcion p-3" id="seg">Seguidores/seguidos</li>
                    <li class="list-group-item-action opcion p-3" id="waves">Waves</li>
                    <li class="list-group-item-action opcion p-3" id="favs">Publicaciones</li>
                </ul>

            </div>
            <div id="opciones" class="col-9">
                

            </div>
          
        </div>
    </div>

