<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>WaveIt!</title>
<link rel="shortcut icon" href="/img/logotipo.png">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap-icons.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/principal.css">
<link rel="stylesheet" href="/css/registro.css">
<link rel="stylesheet" href="/css/info.css">
<!-- ---------------------------------------------- -->
<script type="application/javascript" src="/jquery/jquery-3.6.0.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/registro.js"></script>
<script type="text/javascript" src="/jquery/popper.min.js"></script>



<script>
	$(document).ready(function() {

		$("#login").load("login");

		$("#registro").load("registro");

		//$("#buscar").click(function() {
			//Simple
			//window.location.href = "buscar.html";
			//Pestaña
			//  window.open("http://www.google.com");
			//Ventana
			//window.open("http://www.google.com", "Tu Titulo", "width=500, height=500")
		});

	//});
</script>

</head>
<body>
	<div class="container-fluid p-0">
		<section class="hero">
			<div class="content">
				<div class="navegador fixed-top d-flex justify-content-end my-2">

					<button type="button" class="text-light mr-3 btn-hover btn-black"

						data-toggle="modal" data-target="#loginModal" id="btnlog">Login</button>
					<button type="button" class="text-light mr-3 btn-hover btn-black"


						data-toggle="modal" data-target="#registroModal">Registro</button>
				</div>
				<div class="d-flexbox justify-content-center mx-auto pt-5">
					<div class=" d-inline-flex justify-content-center mx-auto my-auto">
						<!-- 				<div class=" logo"> -->
						<div class="row w-auto h-auto justify-content-center my-auto">
							<img class="imagen my-auto" src="./img/logotipo.png" alt="logo">
							<!-- 				 </div> -->
							<!-- 				 <div class=" title"> -->
							<h1 class="text-nowrap text-center">Wave it!</h1>
							<!--  				</div>  -->
						</div>
					</div>
					<div class="buscar d-flex justify-content-center">

					<form action="/explorar" method="GET">
						<button type="submit" class="btn btn-dark text-light btn-hover btn-form" id="buscar">Explorar</button>
						</form>
					</div>
				</div>
			</div>
			<div class="waves"></div>
		</section>
		<section id="login"></section>
		<section id="registro"></section>

		<section id="info">
			<div class="modal show my-5 mx-auto" id="infoModal" tabindex="-1"
				role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
				<div class="modal-dialog bg-danger" role="document">

					<div id="infoModal" class="modal-content">

						<h4 class="modal-title " id="infoTitulo" th:text="${infoTitulo}"></h4>


						<p id="infoParrafo" th:text="${infoTexto}"></p>

						<button id="infoButton" th:class="${infoEstado}"
							onclick="$('#infoModal').modal('hide')">Cerrar</button>
					</div>
				</div>
			</div>

		</section>
	</div>
	<script th:if="${infoModal != null}">
		$('#infoModal').modal('show');
	</script>



</body>
</html>