<div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
	aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
<!-- 		<button type="button" class="close mt-3 col-2 ml-auto justify-content-center align-item-center" data-dismiss="modal" aria-label="Close"> -->
<!--           <span aria-hidden="true">&times;</span> -->
<!--         </button> -->
			<form method="post" name="login" action="/login" novalidate>
				<div class="row justify-content-center">
					<div class="form-group col-10 grupo">
						<label class="text-secondary label" for="nameLog">Nombre</label> <input
							class="form-control inputs" type="text" name="loginName" id="nameLog"
							placeholder="Escriba su nombre...">
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="form-group col-10 grupo">
						<label class="text-secondary" for="pass">Contrase&ntilde;a</label> <input
							type="password" class="form-control inputs" name="password" id="passLog"
							placeholder="Escriba su contrase&ntilde;a..."> <span class="col-2 d-flex justify-content-start align-items-center iconos" id="ver"
							onmouseover="ver(document.login.passLog)"
							onmouseout="ocultar(document.login.passLog)"><i
							class="bi bi-eye-fill"></i></span>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="form-group grupo">
						<button class="btn-hover btn-red">Login</button>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="registro ">
						<span class="text-secondary info">Si todavia no tienes cuenta...</span>
						<button type="button" class="btn btn-danger" onclick="$('#registroModal').modal('show');$('#loginModal').modal('hide');">Registrate</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>